HTML, BODY {
        background: #f8f8f8;
        font-family: helvetica,arial,sans-serif;
        color: #000;
}
SPAN.center {
        display: block;
        text-align: center;
}
div.navBar {
        border: none;
        margin-left: 1em;
        margin-right: 1em;
        margin-bottom: 2em;
        background: #eee;
}
div.navBlock {
        background: #eee;
        float: right;
        position: absolute;
        top: 0px;
        right: 0px;
        width: 17%;
        border: 1px solid #000;
        margin: 1em;
}
div.navBlock P {
	BORDER-BOTTOM: none;
        FONT-SIZE: 10pt;
        MARGIN: 10px;
        TEXT-DECORATION: none
}
H2.navhead {
	BACKGROUND: #c8c8c8;
        BORDER: none;
        FONT-WEIGHT: bold;
        FONT-SIZE: medium;
        PADDING: 0.1em;
        TEXT-INDENT: 0.5em;
        MARGIN-TOP: 0;
}
SPAN.navPointer {
        FONT-WEIGHT: bold;
}
SPAN.navDisabled {
        COLOR: #AAAAAA;
        TEXT-DECORATION: line-through;
}
div.mainBlock {
        width: 75%; 
        border: none;
        margin: 1em;
}  
div.box {
        border: 2px solid #dcdcdc;
        border-width: 1px;
        margin-bottom: 0.5em;
}
div.box H2 {
        MARGIN: 0px;
        PADDING: 0.2em;
        PADDING-LEFT: 0.5em;
        COLOR: #333333;
        BACKGROUND: #dcdcdc;
        FONT-FAMILY: Verdana,Geneva,Arial,sans-serif;
        FONT-SIZE: 14pt;
        FONT-WEIGHT: bold;
}
div.box P {
        PADDING-LEFT: 0.5em;
        PADDING-RIGHT: 0.5em;
}
div.footer P {
        PADDING-TOP: 2em;
        width: 75%; 
        border: none;
        margin: 1em;
        FONT-SIZE: 8pt;
        TEXT-DECORATION: overline;
}
SPAN.red {
        COLOR: #ff0000;
}
SPAN.green {
        COLOR: green;
}
SPAN.blue {
        COLOR: #336699;
}
TABLE BODY {
	BACKGROUND-COLOR: #f8f8f8;
}
PRE {
	BACKGROUND-COLOR: #eeeeee;
        BORDER-BOTTOM: #bebebe 2pt solid;
        BORDER-LEFT: #bebebe 2pt solid;
        BORDER-RIGHT: #bebebe 2pt solid;
        BORDER-TOP: #bebebe 2pt solid;
        FONT-FAMILY: monospace;
        FONT-SIZE: 9pt;
        FONT-WEIGHT: 100;
        PADDING-BOTTOM: 5pt;
        PADDING-LEFT: 5pt;
        PADDING-RIGHT: 5pt;
        PADDING-TOP: 5pt;
        WHITE-SPACE: pre;
        WIDTH: 90%;
}
UL LI A.link {
	COLOR: #336699;
        TEXT-DECORATION: none
}
span.logo IMG {
        BORDER: none;
        text-align: center;
}
span.strike {
        TEXT-DECORATION: line-through;
}
DT {
        FONT-WEIGHT: bold;
        PADDING-LEFT: 0.5em;
        PADDING-RIGHT: 0.5em;
}
H1 {
	COLOR: #336699;
        FONT-FAMILY: Verdana,Geneva,Arial,sans-serif;
}
H2 {
	COLOR: #333333;
        FONT-FAMILY: Verdana,Geneva,Arial,sans-serif;
        PADDING-TOP: 30pt
}
TR.func_box {
	background-color: #eeeeee;
}
