TABLE BODY {
	BACKGROUND-COLOR: #f8f8f8;
}
TD.navbar {
	BACKGROUND-COLOR: #e8e8e8;
}
PRE {
	BACKGROUND-COLOR: #eeeeee; BORDER-BOTTOM: #bebebe 2pt solid; BORDER-LEFT: #bebebe 2pt solid; BORDER-RIGHT: #bebebe 2pt solid; BORDER-TOP: #bebebe 2pt solid; FONT-FAMILY: mono-space; FONT-SIZE: 9pt; FONT-WEIGHT: 100; PADDING-BOTTOM: 5pt; PADDING-LEFT: 5pt; PADDING-RIGHT: 5pt; PADDING-TOP: 5pt; WHITE-SPACE: pre; WIDTH: 90%;
}
P {
	
}
P.navsect {
	BORDER-BOTTOM: medium none; FONT-SIZE: 10pt; MARGIN: 10px; TEXT-DECORATION: none
}
P.navhead {
	BACKGROUND-COLOR: #c8c8c8; BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-SIZE: 10pt; PADDING-BOTTOM: 4px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; PADDING-TOP: 4px; TEXT-DECORATION: none
}
P.marg {
        PADDING-LEFT: 10pt;
}
UL LI A.link {
	COLOR: #336699; TEXT-DECORATION: none
}
H1 {
	COLOR: #336699; FONT-FAMILY: Verdana,Geneva,Arial,Helvetica; FONT-SIZE: 18pt; FONT-WEIGHT: bold
}
H2 {
	COLOR: #333333; FONT-FAMILY: Verdana,Geneva,Arial,Helvetica; FONT-SIZE: 14pt; FONT-WEIGHT: bold; PADDING-TOP: 30pt
}
H3 {
	BACKGROUND-COLOR: #e8e8e8; COLOR: #333333; FONT-FAMILY: Verdana,Geneva,Arial,Helvetica; FONT-SIZE: 12pt; FONT-WEIGHT: bold; PADDING-TOP: 5pt; PADDING-BOTTOM: 5pt
}
.menu1 {
	COLOR: #e8e8e8; FONT-SIZE: 13px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.msep {
	COLOR: #e8e8e8; FONT-SIZE: large; FONT-WEIGHT: bolder
}
A.link {
	TEXT-DECORATION: none
}
.heading {
	COLOR: #336699; FONT-FAMILY: Verdana,Geneva,Arial,Helvetica; FONT-WEIGHT: bold
}
.bullet {
	FONT-SIZE: large; FONT-WEIGHT: bold
}
.mlink {
	COLOR: black; FONT-FAMILY: Verdana,Geneva,Arial,Helvetica; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.cat {
	COLOR: #336699; FONT-FAMILY: Verdana,Geneva,Arial,Helvetica; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.newslink {
	COLOR: red; FONT-FAMILY: Verdana,Geneva,Arial,Helvetica; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.newstext {
	COLOR: black; FONT-FAMILY: Verdana,Geneva,Arial,Helvetica
}
.ftnote {
	COLOR: black; FONT-FAMILY: Verdana,Geneva,Arial,Helvetica
}
.mainheading {
	COLOR: #336699; FONT-FAMILY: Verdana,Geneva,Arial,Helvetica; FONT-WEIGHT: bold
}
.legal {
	COLOR: #000000
}
.blegal {
	COLOR: #ffffff; FONT-SIZE: smaller; FONT-WEIGHT: lighter
}
.blink {
	COLOR: white; FONT-FAMILY: Verdana,Geneva,Arial,Helvetica; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.quote {
	FONT-FAMILY: Times; FONT-STYLE: italic
}
.nav {
	COLOR: #336699; FONT-FAMILY: mono-space; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 5px; TEXT-DECORATION: none
}
.navlink {
	COLOR: #000000; TEXT-DECORATION: none
}
.bluelink {
	COLOR: #336699; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.hitlink {
	COLOR: #336699; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.hitdesc {
	FONT-FAMILY: Arial,Helvetica; FONT-SIZE: 11px
}
.hitlink2 {
	COLOR: #336699; FONT-SIZE: small; FONT-STYLE: italic; TEXT-DECORATION: none; font-weight: bold
}
